body{
    background-color: #5a464c;
    margin: 0;
}

header{
    display: flex;
    height: 40px;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:crimson;
    justify-content: center;
    align-items: center;
}

.contenedor-cuadro{
    margin-top: 1%;
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 8%;
}

.presentaciones{
    background-color: #B5D6B2;  
    border: black 3px solid;
    margin: auto;
}

.marco{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #B5D6B2;
    border: black 3px solid;
    margin: auto;
    border-top: none;
}

p {
    margin-top: 1%;
    margin-bottom: 1%;
    font-weight: bold;
    font-size: x-large;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.centrar-listas {
	text-align: center;
}
.centrar-listas ul {
	text-align: left;
	display: inline-block;
}


.contenedor-imagenes{
    display: flex;
    justify-content: center;
    align-items: center;
}


.contenedor-imagenes img:first-child {
    margin-right: 10px;
}


footer {
    background-color: #FFEFBD;
    padding-top: 6px;
    text-align: center;
    font-family: sans-serif;
    width: 100%;
    bottom: 0;
    height: 23px;
    position:fixed;
}

h2:hover {
    color: #9900FF;
}
li:hover{
    color: #9900FF;
}

/* enlaces externos*/
a:hover{    
    color: #9900FF;
}
.instagram{
    text-decoration: none;
    color: black;
}
a{
    text-decoration:line;
    color: black;
}