body{
    color: black;
}

h2:hover {
    color: red;
}

.pasos{
    margin-top: 50px;
    padding-right: 1170px;
    padding-bottom: 20px;
}

.inicioTxT{
    padding-right: 1170px;
    padding-bottom: 20px;    
}